<h1>Edit Order </h1>
<p>Find me in app/views/orders/edit.html.erb</p>


<%= form_for(@order) do |f| %>
  <p>
    <%= f.label "Email" %> <br>
    <%= f.email_field :name, :required => true, :autofocus => true %>
  </p>
  <p>
    <%= f.label "Address" %> <br>
    <%= f.text_field :address1 %>
  </p>
  <p>
    <%= f.label "Status" %> <br>
    <%= f.select :status,["in progress","Paid","Shipped"] %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Delete Order", @order, :method => :delete, :data => { :confirm => "Please confirm?"} %>
