<h1>Edit Order </h1>


<%= form_for(@order) do |f| %>
  <div class="row">
  <p>
    <div class="col-2 left">
      <span>Email</span>
    </div>
    <div class="col-10 left">
      <%= f.email_field :name, :required => true, :autofocus => true %>
    </div>
  </div>
  </p>


  <p>
    <div class="row">
      <div class="col-2 left">
        <span>Address</span>
      </div>
      <div class="col-10 left">
        <%= f.text_field :address1 %>
      </div>
    </div>
  </p>


  <p>
    <div class="row">
      <div class="col-2 left">
        <span>Status</span>
      </div>
      <div class="col-10 left">
        <%= f.select :status,["in progress","Paid","Shipped"] %>
      </div>
    </div>
  </p>


  <p>
    <div class="row">
      <div class="col-2 left">
        <%= f.submit %>
      </div>
    </div>
  </p>
<% end %>

<%= link_to "Delete Order", @order, :method => :delete, :data => { :confirm => "Please confirm?"} %>
