<h1>Admin page: Orders</h1>

<% @orders.each do |order| %>
    <ul>
      <li>Name: <%= order.name %></li>
      <li>Address: <%= order.address1 %></li>
      <li>Status: <%= order.status %></li>
      <li>Items: </li>
      <ul>
        <% order.items.each do |item| %>
        <li>Product: <%= item.product.product_name %>; Quantity: <%= item.quantity %></li>
        <% end %>

      </ul>
    </ul>
<% end %>
<button id = "order_display">Load Orders</button>

<div class="clear_display">
<p class="order_display"></p>
<div id="order_display">




</div>
</div>
