<h1>Orders checkout</h1>
<hr>

<h3>Cart items confirmation</h3>

<% @cart.items.each do |item| %>
<ul>
    <li>Product:
        <%= item.product.product_name %></li>
    <li>Price:
        <%= number_to_currency(item.product.price) %></li>
    <li>Quantity:
        <%= item.quantity %></li>
</ul>
<% end %>

<h4>Subtotal:
    <%= number_to_currency(@cart.subtotal) %></h4>
<h4>Tax (10%):
    <%= number_to_currency(@cart.tax * @cart.subtotal) %></h4>
<h4>Shipping:
    <%= number_to_currency(@cart.shipping) %></h4>
<h3>TOTAL:
    <%= number_to_currency(@cart.total) %></h3>

<hr>

<h3>Create new order</h3>

<fieldset>
    <legend>Enter payment details</legend>

    <%= render "form" %>
</fieldset>
