<h1>Web scraping competitor live pricing</h1>

<h2>Male watches</h2>

<% @getprice[:male].each do |item| %>
  <p><%= image_tag(item[:image]) %></p>
  <p><%= item[:name] %></p>
  <p><%= item[:price] %></p>
  <p><%= image_tag(item[:supplier]) %></p>
  <a href="<%= item[:gotoshop] %>" target="_blank">Go to shop</a>
<% end %>

<h2>Female watches</h2>
<% @getprice[:female].each do |item| %>
  <p><%= image_tag(item[:image]) %></p>
  <p><%= item[:name] %></p>
  <p><%= item[:price] %></p>
  <p><%= image_tag(item[:supplier]) %></p>
  <a href="<%= item[:gotoshop] %>" target="_blank">Go to shop</a>
<% end %>

<%#= will_paginate @getprice %>
