<h1>MGK Watches</h1>

<h3>Free Shipping in Australia</h3>

<div class="autoplay">

<div>
<%= image_tag("watch1.jpg", :class => "autoplay") %>
</div>
<div>
<%= image_tag("watch2.jpg", :class => "autoplay") %>
</div>
<div>
<%= image_tag("watch3.jpg", :class => "autoplay") %>
</div>
<div>
<%= image_tag("watch4.jpg", :class => "autoplay") %>
</div>
<div>
<%= image_tag("watch5.jpg", :class => "autoplay") %>
</div>
<div>
<%= image_tag("watch6.jpg", :class => "autoplay") %>
</div>
</div>




<% @products.each do |prod| %>

<div class="testcase">
  <p><%= image_tag(prod.image, :class => "prod1") %></p>
  <p>Style  <%= link_to(prod.product_name, product_path(prod)) %></p>
  <p>Price  <%= number_to_currency(prod.price) %></p>
  <p>Brand  <%= prod.brand.brand_name %></p>
  <p>Product_id  <%= prod.id %></p>
  <%= button_to "Add to cart", items_path(:product_id => prod.id) %>

  <%#= button_to "Add #{prod.brand.brand_name} - #{prod.product_name} to cart", items_path(:product_id => prod.id) %>

  </div>
<% end %>

<div class="testcase2">
 <%= will_paginate @products %>
</div>


<i class="fa fa-shopping-cart" aria-hidden="true"></i>
