<h1>MGK Watches</h1>

<% @products.each do |prod| %>
  <p>Style  <%= link_to(prod.product_name, product_path(prod)) %></p>
  <p>Price  <%= number_to_currency(prod.price) %></p>
  <p>Brand  <%= prod.brand.brand_name %></p>
  <p>Product_id  <%= prod.id %></p>
  <p><%= image_tag(prod.image) %></p>
  <%= button_to "Add #{prod.brand.brand_name} - #{prod.product_name} to cart", items_path(:product_id => prod.id) %>
  <br>
<% end %>
