<!DOCTYPE html>
<html>
<head>
  <title>MgkShoppingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to("All products", products_path) %>
    <%= link_to("Create a new product", new_product_path) %>
    <%= link_to("All orders (Admin)", orders_path) %>
    <%= link_to("Competitor Scrape (Admin)", competitor_path) %>
    <br>
    <%= link_to("Current cart: #{@current_cart.id}",carts_show_path(@current_cart)) %>
  </nav>
<%= yield %>

</body>
</html>
